<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hantiansoft.kaiheiloft.mapper.ClubMemberMapper">

    <select id="queryPageMember" resultType="com.hantiansoft.kaiheiloft.fullobj.MemberCompleteObject">
        select kui.id as id,
               kui.username as username,
               kui.nickname as nickname,
               kui.avatar as avatar,
               ifnull(kca.superadmin, 'M') as superadmin
        from khl_club_member kcm
            left join khl_userinfo kui on kcm.user_id = kui.id
            left join khl_club_admin kca on kcm.user_id = kca.user_id
        where kcm.club_id = #{clubId}
    </select>

</mapper>