<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amaoai.kaiheiloft.mapper.ClubMapper">

    <select id="queryClubsByUserId" resultType="com.amaoai.kaiheiloft.enties.Club">
        select kc.* from khl_club kc left join khl_club_member kcm on kc.id = kcm.club_id
                    where kcm.user_id = #{userId}
    </select>

</mapper>